<h1>Photography</h1>
<div><BR></div>
<script>
$('.carousel').carousel({
  interval: 2000
})
</script>
<div>
	<div id="myCarousel" class="carousel slide" data-interval="">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item"><img src="http://i.imgur.com/TeeT4aj.jpg" alt></div>
	    <div class="item"><img src="http://i.imgur.com/cGZCCsL.jpg" alt></div>
	    <div class="item"><img src="http://i.imgur.com/ZRf9uat.jpg" alt></div>
	    <div class="item"><img src="http://i.imgur.com/lRQnCjW.jpg" alt></div>
	    <div class="item"><img src="http://i.imgur.com/qaaARQp.jpg" alt></div>
	    <div class="item"><img src="http://i.imgur.com/4Rj2MLv.jpg" alt></div>
	    <div class="item"><img src="http://i.imgur.com/I8pJBHO.jpg" alt></div>
	    <div class="item"><img src="http://i.imgur.com/ew7rmjY.jpg" alt></div>
	    <div class="item"><img src="http://i.imgur.com/9PhAk0Z.jpg" alt></div>
	    <div class="item"><img src="http://i.imgur.com/79sOsZg.jpg" alt></div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>
