
/* Possible other font: */
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$navbarBackgroundHighlight: LightGray;
$navbarBackground: LightGray;
$textColor: white;
@import 'bootstrap';




@import 'bootstrap-responsive';


html {
	background: url('http://i.imgur.com/I8pJBHO.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.background{
	background-color: rgba(0, 0, 0, 0);
	background: url('http://i.imgur.com/I8pJBHO.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}


/* get rid of the default navbar shadow: */
/*.navbar-inner {
	@include box-shadow(none !important);
	border: 0; 
}*/

.hero-unit{
		margin-top: 50px;
    background-color: rgba(0, 0, 0, .6); /*use rgba and set Opacity to 0 for transparent.*/
 }

.body{
	
	background-color: rgba(0, 0, 0, 0); /*use rgba and set Opacity to 0 for transparent.*/
}

.form-actions{
	background-color: rgba(0, 0, 0, 0); /*use rgba and set Opacity to 0 for transparent.*/
}

.footerOn{
	background-color: rgba(0, 0, 0, 0); /*use rgba and set Opacity to 0 for transparent.*/
	margin-top: 40px;
	color: $white;
	a {
		color: $white;
	}
}
.footer {
	background-color: rgba(0, 0, 0, 0); /*use rgba and set Opacity to 0 for transparent.*/
	margin-top: 40px;
	color: $grayLight;
	a {
		color: $white;
	}
}
