<div class="footer">
	<!-- this text changes color on mouseover -->
	<p onmouseout="this.style.color = 'LightGray';" onmouseover="this.style.color = 'white';"> 
		<small>Written using skills learned from the 
			<em><u><%= link_to "One Month Rails", "http://www.onemonthrails.com" %></u></em> 
			course
		</small>.</p>
</div>